/workshops/unit1/WS02/Area_Y_Volumen-Hetagono-Short/nbproject/private/
/workshops/unit1/WS02/Area_Y_Volumen-Hetagono-Short/build/
/workshops/unit1/WS02/AreaHexágono.Short/nbproject/private/
/workshops/unit1/WS02/AreaHexágono.Short/build/
/workshops/unit1/WS02/AreaHexagono.int/nbproject/private/
/workshops/unit1/WS02/AreaHexagono.int/build/
/workshops/unit1/WS02/AreaHexagono.Float/nbproject/private/
/workshops/unit1/WS02/AreaHexagono.Float/build/
/workshops/unit1/WS04-LogicalOperators/WS04-LogicalOperators/nbproject/private/
/workshops/unit1/WS04-LogicalOperators/WS04-LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/HW03Iterations/HW03Iterations/nbproject/private/
/assignments/HW03Iterations/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/HW04Menus/nbproject/private/
/assignments/HW04Menus/build/
/workshops/ExamUnit1/ExamUnit1/nbproject/private/
/workshops/ExamUnit1/GuamánAlanQ11/nbproject/private/
/workshops/ExamUnit1/ExamUnit1/build/
/workshops/unit1/GuamanAlan-ExamUnit1/nbproject/private/
/workshops/unit1/GuamanAlan-ExamUnit1/build/
/workshops/unit1/GuamanAlan-ExamUnit1/dist/
/workshops/unit1/WS03Operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03Operators/BasicOperations/build/
/workshops/unit1/WS03Operators/BasicOperations/dist/
/workshops/unit1/WS02FP02_controlStatement/dist/
/workshops/unit1/HW03Iterations/nbproject/private/
/assignments/HW03Iterations/HW03 Iterations/nbproject/private/
/workshops/unit1/WS03 Operators/nbproject/private/
/workshops/unit1/WS03 Operators/build/
/workshops/unit1/WS02 ControlStatement/nbproject/private/
/workshops/unit1/WS02 ControlStatement/build/
/workshops/unit1/WS02 ControlStatement/dist/