/workshops/unit1/WS02/Area_Y_Volumen-Hetagono-Short/nbproject/private/
/workshops/unit1/WS02/Area_Y_Volumen-Hetagono-Short/build/
/workshops/unit1/WS02/AreaHexágono.Short/nbproject/private/
/workshops/unit1/WS02/AreaHexágono.Short/build/
/workshops/unit1/WS02/AreaHexagono.int/nbproject/private/
/workshops/unit1/WS02/AreaHexagono.int/build/
/workshops/unit1/WS02/AreaHexagono.Float/nbproject/private/
/workshops/unit1/WS02/AreaHexagono.Float/build/
/workshops/unit1/WS04-LogicalOperators/WS04-LogicalOperators/nbproject/private/
/workshops/unit1/WS04-LogicalOperators/WS04-LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/HW03Iterations/HW03Iterations/nbproject/private/
/assignments/HW03Iterations/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/HW04Menus/nbproject/private/
/assignments/HW04Menus/build/
/workshops/ExamUnit1/ExamUnit1/nbproject/private/
/workshops/ExamUnit1/GuamánAlanQ11/nbproject/private/
/workshops/ExamUnit1/ExamUnit1/build/
/workshops/unit1/GuamanAlan-ExamUnit1/nbproject/private/
/workshops/unit1/GuamanAlan-ExamUnit1/build/
/workshops/unit1/GuamanAlan-ExamUnit1/dist/
/workshops/unit1/WS03Operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03Operators/BasicOperations/build/
/workshops/unit1/WS03Operators/BasicOperations/dist/
/workshops/unit1/WS02FP02_controlStatement/dist/
/workshops/unit1/HW03Iterations/nbproject/private/
/assignments/HW03Iterations/HW03 Iterations/nbproject/private/
/workshops/unit1/WS03 Operators/nbproject/private/
/workshops/unit1/WS03 Operators/build/
/workshops/unit1/WS02 ControlStatement/nbproject/private/
/workshops/unit1/WS02 ControlStatement/build/
/workshops/unit1/WS02 ControlStatement/dist/
/assignments/unit 2/HW05-FactorialNumber/nbproject/private/
/assignments/unit 2/HW05-FactorialNumber/build/
/workshops/HW05-FactorialNumber/nbproject/private/
/workshops/HW05-FactorialNumber/build/
/workshops/HW05-FactorialNumber/dist/
/assignments/unit 2/HW09-EmbeddedStructures/nbproject/private/
/assignments/unit 2/HW09-EmbeddedStructures/build/
/workshops/unit2/WS10Function/nbproject/private/
/workshops/unit2/WS10Function/build/
/assignments/unit 2/HW10-Functions/nbproject/private/
/assignments/unit 2/HW10-Functions/build/
/workshops/unit2/WS11Functions And Recursion/WS11 Functions/nbproject/private/
/workshops/unit2/WS11Functions And Recursion/WS11Recursion/nbproject/private/
/workshops/unit2/WS11Functions And Recursion/WS11 Functions/build/
/assignments/unit 2/HW11-Recursion/HW11-Recursion/nbproject/private/
/assignments/unit 2/HW11-Recursion/HW11Functions/nbproject/private/
/assignments/unit 2/HW11-Recursion/HW11Functions/build/
/assignments/unit 2/HW11-Recursion/HW11-Recursion/build/
/assignments/unit 2/HW11-Recursion/ws12/nbproject/private/
/assignments/unit 2/HW11-Recursion/ws12/build/
/assignments/unit 2/HW12Taxes/nbproject/private/
/assignments/unit 2/HW12Taxes/build/
/workshops/unit2/WS11Functions And Recursion/WS11Recursion/build/
/workshops/unit2/ws13/nbproject/private/
/workshops/unit2/ws13/build/
/workshops/unit2/ws13/dist/
/workshops/unit2/WS14Arrays/nbproject/private/
/workshops/unit2/WS14Arrays/build/
/assignments/unit 2/HW14Arrays/nbproject/private/
/assignments/unit 2/HW14Arrays/build/
/Quizzes/unit2/Quizzes/nbproject/private/
/Quizzes/unit2/Quizzes/build/
/Quizzes/unit2/Quizzes/dist/
/workshops/unit2/WS15- CorrectionExam/nbproject/private/
/workshops/unit2/WS15- CorrectionExam/build/
/workshops/unit2/WS16- MatrixAddition/nbproject/private/
/workshops/unit2/WS16- MatrixAddition/build/
/assignments/unit 2/HW15-MatrixOperation/nbproject/private/
/assignments/unit 2/HW15-MatrixOperation/build/
/assignments/unit 2/HW15-MatrixOperation/dist/
/workshops/unit2/HW16 MatrixFuncitions/nbproject/private/
/workshops/unit2/WS17-MatrixTransposition/nbproject/private/
/workshops/unit2/WS17-MatrixTransposition/build/
/workshops/unit2/HW16 MatrixFuncitions/build/
/workshops/unit2/HW16 MatrixFuncitions/dist/
/workshops/unit3/ws19/IzurietaXanther_Q11/nbproject/private/
/workshops/unit3/ws19/IzurietaXanther_Q11/build/
/assignments/unit 2/HW10-Functions/dist/
/workshops/unit2/WS10Function/dist/
/assignments/unit 2/HW16 MatrixFuncitions/build/
/assignments/unit 2/HW16 MatrixFuncitions/dist/
/assignments/unit 2/HW16 MatrixFuncitions/nbproject/private/
/assignments/unit 1/HW04Menus/dist/
/workshops/unit2/WS16- MatrixAddition/dist/
/workshops/unit3/WS21Function/WS21Functions/nbproject/private/
/workshops/unit3/WS21Function/WS21Functions/build/
/workshops/unit3/WS21Function/WS21Functions/dist/
/workshops/unit3/WS22ModularOperations/nbproject/private/
/workshops/unit3/WS22ModularOperations/build/
/workshops/unit3/TaxDeclaration/nbproject/private/
/workshops/unit3/WS23Libraries/TaxLibrary/nbproject/private/
/workshops/unit3/WS23Libraries/TaxLibrary/build/
/workshops/unit3/WS23Libraries/TaxLibrary/dist/
/workshops/unit3/WS23Libraries/TaxDeclaration/nbproject/private/
/workshops/unit3/WS23Libraries/TaxDeclaration/build/
/assignments/unit3/HW17MatrixLibraries/MatrixDeclaration/nbproject/private/
/assignments/unit3/HW17MatrixLibraries/MatrixLibrary/nbproject/private/
/assignments/unit3/HW17MatrixLibraries/MatrixLibrary/build/
/assignments/unit3/HW17MatrixLibraries/MatrixLibrary/dist/
/assignments/unit3/HW17MatrixLibraries/MatrixDeclaration/build/
/workshops/unit3/WS24/JavaApplication53/nbproject/private/
/workshops/unit3/WS24/Sorting/nbproject/private/
/workshops/unit3/WS24/Sorting/build/
/assignments/unit3/HW18Searching/Searching/nbproject/private/
/assignments/unit3/HW18Searching/Searching/build/
/workshops/unit3/WS25Operation/Contacts/nbproject/private/
/workshops/unit3/WS25Operation/Contacts/build/
/assignments/unit3/HW19SearchingForm/HW19SearchingForm/nbproject/private/
/assignments/unit3/HW19SearchingForm/HW19SearchingForm/build/
/workshops/unit3/SortingIntegars/nbproject/private/
/workshops/unit3/SortingIntegars/build/
/workshops/unit3/SortingIntegars/dist/
/assignments/unit3/SortingStrings/nbproject/private/
/assignments/unit3/SortingStrings/build/
/workshops/unit3/FarmSystem/nbproject/private/
/workshops/unit3/FarmSystem/build/
/assignments/unit3/HW20SortingStrings/SortingStrings/build/
/assignments/unit3/HW20SortingStrings/SortingStrings/nbproject/private/
/workshops/unit3/ExamFarmContinent/nbproject/private/
/workshops/unit3/ExamFarmContinent/build/
/workshops/unit3/WS24Sorting/Sorting/build/
/workshops/unit3/WS24Sorting/Sorting/nbproject/private/
/workshops/unit2/ws12/build/
/workshops/unit2/ws12/nbproject/private/
/workshops/unit2/WS12Libraries/build/
/workshops/unit2/WS12Libraries/nbproject/private/
/Group Project/PR01 Menu/build/
/Group Project/PR01 Menu/dist/
/Group Project/PR01 Menu/nbproject/private/
/workshops/unit3/WS27ADT/FarmSystem/build/
/workshops/unit3/WS27ADT/FarmSystem/nbproject/private/